//Import variables.scss to use color palette
@import "../Utils/variables";

// Import mixins.scss
@import "../Utils/mixins";


/////////////////////////////////////* main_design_(mobile) */
.nav-bar-header_wrapper{
    display: none;
}


/////////////////////////////////////* responsive_design_(tablette&desktop) */

/////////////////////*responsive_tablet*/


/////////////////////*responsive_desktop*/

@media only screen and (min-width: 1024px) {
    .nav-bar-header{
        &_wrapper{
            background-color: $background-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100px;
            padding: 40px;
        }
        &_logo-groupomania{
            width: 300px;
            height: auto;
        }
        &_menu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
        }
        &_home{
            color: $complementary-secondary-color;
            width: 30px;
            height: 30px;
            &:active{
              color: $color-secondary;
            }
        }
        &_add-post{
            color: $complementary-secondary-color;
            width: 30px;
            height: 30px;
            &:active{
                color: $color-secondary;
            }
        }
          &_user-profile{
            border: solid 2px $complementary-secondary-color ;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            object-fit: cover;
            overflow: hidden;
            &:active{
              opacity: .2;
            }
        }
    }
    
}