//Import variables.scss to use color palette
@import "../Utils/variables";

// Import mixins.scss
@import "../Utils/mixins";


/////////////////////////////////////* main_design_(mobile) */

.publication-card{
        @include card-color;
        width: 100%;
        height: 30%;
        margin-top: 2%;
  &_user-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
  }
  &_user-img{
    border: solid 2px $complementary-secondary-color ;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    overflow: hidden;
    &:active{
      opacity: .2;
    }
  }
  &_under-media-bar{
    @include flex-center;
    padding: 2%;
    box-shadow: 0px 0px 2px $shadow-color;
  }
  &_datetime{
    padding: 0 5% 0 5% ; 
    width: 100%;
  }
  &_like-comment-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
  }
  &_like-btn, &_comment-btn{
    color: $complementary-secondary-color;
    width: 25px;
    height: 25px;
    padding: 5% 10% 5% 10%;
  }
  &_text{
      padding: 5%;
  }
}

/////////////////////////////////////* responsive_design_(tablette&desktop) */

/////////////////////*responsive_tablet*/
@media only screen and (min-width: 450px) {
 
}

/////////////////////*responsive_desktop*/

@media only screen and (min-width: 1024px) {

}