//Import variables.scss to use color palette
@import "../Utils/variables";

// Import mixins.scss
@import "../Utils/mixins";


/////////////////////////////////////* main_design_(mobile) */
.comment_formular{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: auto;
    &_content{
        @include column-center;
        width: 100%;
        height: auto;
        margin-top: 5%;
        &-text-content{
            @include column-center;
            width: 100%;
            height: 120px;
            margin-top: 10%;
            margin-bottom: 2%
        }
        &-text{
            width: 100%;
            height: 120px;
        }
    }
}

/////////////////////////////////////* responsive_design_(tablette&desktop) */

/////////////////////*responsive_tablet*/


/////////////////////*responsive_desktop*/

@media only screen and (min-width: 1024px) {
    .comment{
        margin-top: 10%;
        max-width: 800px;
    }
}

