//Import variables.scss to use color palette
@import "../Utils/variables";

// Import mixins.scss
@import "../Utils/mixins";


/////////////////////////////////////* main_design_(mobile) */

// Global style settings
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.publications_wrapper{
    margin-top: 10%;
    max-width: 800px;
    @include column-center;
}

input, textarea{
    background-color: $background-color;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

button{
    background-color: $complementary-secondary-color;
    border-radius: 18px;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

.button--disabled{
    display: none;
}

/////////////////////////////////////* responsive_design_(tablette&desktop) */

/////////////////////*responsive_tablet*/
@media only screen and (min-width: 450px) {
 
}

/////////////////////*responsive_desktop*/

@media only screen and (min-width: 1024px) {
    .header_logo-groupomania{
        display: none;
    }
    .publications_wrapper{
        margin-top: 0;
    }
}