//Import variables.scss to use color palette
@import "../Utils/variables";

// Import mixins.scss
@import "../Utils/mixins";

// Global style settings
.publications_wrapper{
    margin-top: 4%;
    @include column-center;
}

input, textarea{
    background-color: $background-color;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

button{
    background-color: $complementary-secondary-color;
    border-radius: 18px;
    padding: 2%;
    margin: 2%;
    text-align: center;
}