//Visual identity palette
$color-primary: #F52D05;
$complementary-primary-color: #00A866;
$color-secondary: #FA7907;
$color-tertiary: #FBD6D7;
$complementary-tertiary-color: #D4FADE;
$color-fourth:#FDD8CA;


// Global UI palette
$shadow-color: #a5a5a5;
$backgroundformular-color: #eaeaea;
$background-color: #f6f6f6;
