//Import variables.scss to use color palette
@import "../Utils/variables";

//Import Poppins font from Google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

// Global Font style settings
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
ul{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}